.select {
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-areas: 'head'
                       'content'
                       'actions';
  grid-template-rows: auto 1fr auto;
  gap: 0;

  &__head {
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 1px 0 #D9D9D9;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;

    &__link {
      align-items: center;
      display: grid;
      grid-template-columns: 18px auto;
      gap: 12px;
      font-weight: 600;
      font-size: 18px;
      color: #272526;
      transition: all 0.3s ease 0s;
      @media(any-hover: hover) {
        &:hover {
          color: #035B77;
          text-decoration: underline;
        }
      }
    }

    &__search {
      outline: none;
      padding: 10px;
      color: #272526;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #D9D9D9;
      &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
      &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
      &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
      &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
      &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
      &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
      &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
      &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
    }
  }

  &__selectBtn{
    .ant-checkbox-checked .ant-checkbox-inner{
      background-color: #035B77;
    }
  }

  &__option {
    color: #484545;
    &__selected{
      background: linear-gradient(0deg, rgba(3, 91, 119, 0.05), rgba(3, 91, 119, 0.05)), #fff;
      background-size: 100%;
      transition: background 0.3s ease 0s;
    }
    &__content{
      line-height: 1.29;
      position: relative;
      font-size: 16px;
      &__selected {
        color: #272526;
      }
      &__icon{
        transition: transform 0.3s ease 0s;
        &__clicked{
          transform: rotate(-180deg);
        }
        margin-right: 6px;
      }

    }

    &__body {
      display: grid;
      grid-template-columns: 18px 1fr;
      gap: 55px;
    }

    &__visible {
      padding: 6px;
    }

    font-size: 14px;
    @media(any-hover: hover) {
      &:hover {
        transition: background 0.3s ease 0s;
        background: linear-gradient(0deg, rgba(3, 91, 119, 0.08), rgba(3, 91, 119, 0.08)), #fff;
      }
    }
  }
}